body {
	font-family: menlo, monaco;
	background: #3866af;
	color: #ffebb5;
}

.header-styled {
	padding: 3%;
	font-size: 4.5em;
}

a, a:hover {
	color: #ffebb5;
	text-decoration: none;
}

p > a {
	color:#ffebb5;
}

.fa { 
	padding: 3%;
	color: white;
}

li.nav-item > a:hover {
	background-color: #ffebb5;
	color:#3866af;
}

.sep {
	color: white; 
}

/* Large screen */
@media (min-width: 576px){
	h1 {
		font-size: 5vw;
	}
	
	.fa {
		font-size: 8vw;
	}
	
	p {
		font-size: 2em;
	}
	
	p > a { /* Really just the links in the About blurb */
		font-size: 1em;
		border-bottom: .2vw dotted #ffebb5;
		text-decoration: none;
	}
	
	.footer {
		font-size: 2em;
	}
}

/* Small screen */
@media (max-width: 576px){
	h1 {
		font-size: 10vw;
		text-align: center;
	}
	
	.fa{
		font-size: 12vw;
	}
	
	p {
		font-size: 1.8em;
	}
	
	.icon_wrapper {
		justify-content: center;
	}
	
	p > a {
		border-bottom: .08em dotted #ffebb5;
		text-decoration: none;
	}
	
	.footer {
		font-size: 5vw;
		justify-content: center;
	}
}

/* Terminal Blink animation applied to span.blink */
.blink {
	animation: blink-animation 1.25s steps(2, start) infinite;
	-webkit-animation: blink-animation 1.25s steps(2, start) infinite;
	-moz-animation: blink-animation 1.25s steps(2, start) infinite;
	-o-animation: blink-animation 1.25s steps(2, start) infinite;
}
@keyframes blink-animation {
	0% {
     	background-color:#3866af;
    	color:#ffebb5;
  	}
	50% {
		background-color:#3866af;
    	color:#ffebb5;
	}
	51%{
		background-color: #ffebb5;
    	color:#3866af;
	}
	100% {
		background-color: #ffebb5;
    	color:#3866af;
	}
}
@-webkit-keyframes blink-animation {
	0% {
     	background-color:#3866af;
    	color:#ffebb5;
  	}
	50% {
		background-color:#3866af;
    	color:#ffebb5;
	}
	51%{
		background-color: #ffebb5;
    	color:#3866af;
	}
	100% {
		background-color: #ffebb5;
    	color:#3866af;
	}
}
@-moz-keyframes blink-animation {
	0% {
     	background-color:#3866af;
    	color:#ffebb5;
  	}
	50% {
		background-color:#3866af;
    	color:#ffebb5;
	}
	51%{
		background-color: #ffebb5;
    	color:#3866af;
	}
	100% {
		background-color: #ffebb5;
    	color:#3866af;
	}
}
@-o-keyframes blink-animation {
	0% {
     	background-color:#3866af;
    	color:#ffebb5;
  	}
	50% {
		background-color:#3866af;
    	color:#ffebb5;
	}
	51%{
		background-color: #ffebb5;
    	color:#3866af;
	}
	100% {
		background-color: #ffebb5;
    	color:#3866af;
	}
}