body {
	font-family: menlo, monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace, consolas;
	background: #3866af;
	color: #ffebb5;
}

.header-styled {
	padding: 3%;
	font-size: 4.5em;
}

a, a:hover {
	color: white;
}

.fa{ 
	padding: 3%;
}

@media (min-width: 576px){
	.footer {
		font-size: 2vw;
		position: absolute;
		bottom: 0;
		padding-bottom: 5em;
	}
	h1 {
		font-size: 5vw;
	}
	a {
		font-size: 1.5em;	
	}
	.fa {
		font-size: 8vw;
	}
	p{
		max-width: 80%;	
		font-size: 2vw;
	}
}

@media (max-width: 576px){
	.footer {
		font-size: 5vw;
		justify-content: center;
	}
	h1 {
		font-size: 10vw;
		text-align: center;
	}
	.fa{
		font-size: 12vw;
	}
	
	p {
		font-size: 5vw;
	}
	.icon_wrapper {
		justify-content: center;
	}
}

.blink {
	animation: blink-animation 1.25s steps(2, start) infinite;
	-webkit-animation: blink-animation 1.25s steps(2, start) infinite;
	-moz-animation: blink-animation 1.25s steps(2, start) infinite;
	-o-animation: blink-animation 1.25s steps(2, start) infinite;
}
@keyframes blink-animation {
	0% {
     	background-color:#3866af;
    	color:#ffebb5;
  	}
	50% {
		background-color:#3866af;
    	color:#ffebb5;
	}
	51%{
		background-color: #ffebb5;
    	color:#3866af;
	}
	100% {
		background-color: #ffebb5;
    	color:#3866af;
	}
}
@-webkit-keyframes blink-animation {
	0% {
     	background-color:#3866af;
    	color:#ffebb5;
  	}
	50% {
		background-color:#3866af;
    	color:#ffebb5;
	}
	51%{
		background-color: #ffebb5;
    	color:#3866af;
	}
	100% {
		background-color: #ffebb5;
    	color:#3866af;
	}
}
@-moz-keyframes blink-animation {
	0% {
     	background-color:#3866af;
    	color:#ffebb5;
  	}
	50% {
		background-color:#3866af;
    	color:#ffebb5;
	}
	51%{
		background-color: #ffebb5;
    	color:#3866af;
	}
	100% {
		background-color: #ffebb5;
    	color:#3866af;
	}
}
@-o-keyframes blink-animation {
	0% {
     	background-color:#3866af;
    	color:#ffebb5;
  	}
	50% {
		background-color:#3866af;
    	color:#ffebb5;
	}
	51%{
		background-color: #ffebb5;
    	color:#3866af;
	}
	100% {
		background-color: #ffebb5;
    	color:#3866af;
	}
}