

body {
	font-family: menlo, monaco;
	background: #3866af;
	color: #ffebb5;
}

@media (min-width: 768px){
	.footer {
		font-size: 2vw;
	}
	h1 {
		font-size: 5.5vw;
	}
	a {
		font-size: 1.5em;	
	}
	.fa {
		font-size: 8vw;
	}
}

@media (max-width: 768px){
	.footer {
		font-size: 5vw;
	}
	h1 {
		font-size: 10vw;
	}
	.fa{
		font-size: 12vw;
	}
	nav{
		margin-left: -2vw;
	}
}

@media (max-width: 1000px) {
	
	p {
		font-size: 3vw;
	}
}

@media (min-width: 1000px){

	p{
		max-width: 80%;	
		font-size: 2vw;
	}
}

.header-styled {
	padding: 3%;
	font-size: 4.5em;
}

a, a:hover {
	color: white;
}

.fa{ 
	padding: 3%;
}