<div class="fitted readable">
  <p>
    Hi, I'm Lucas Burns, a Software Developer in Portland, Oregon.
  </p>
  <p>
    I currently work at Driveway creating backend services for shopping <a href="https://driveway.com/shop" target="_blank">Driveway's new and pre-owned vehicle inventory</a>, primarily using Kotlin.
    The majority of my work at Driveway revolves around inventory search which has been a great opportunity for me to learn about the very scientific yet subjective world of search.
    I've greatly enjoyed learning GraphQL and I am continually impressed by its potential for performance benefits.
  </p>
  <p>
    Prior to my time with Driveway I worked at EVRAZ North America as a Full Stack Software Developer. 
    At EVRAZ I maintained decades-old monolithic apps written in Java and C, and helped implement new Javascript web apps.
    I graduated from the University of Portland in May 2017 with a B.S. in Computer Science and a minor in Mathematics.
  </p>
  <p>
    For me, coding is more than just a job. 
    In my spare time I maintain a <a href="https://github.com/BurnsCommaLucas/ready-bot" target="_blank">Discord bot</a> that runs ready-checks for folks playing online games which require group coordination, and is currently used on 600+ servers.
    Presently I'm working to upgrade the bot to use Discord's new <a href="https://support.discord.com/hc/en-us/articles/1500000368501-Slash-Commands-FAQ" target="_blank">slash command interface</a>.
  </p>
  <p>
    When I'm not coding I like to play music and I've been playing for the last 21 years.
    I started with piano, then moved on briefly to cello, tried my hand at the trumpet, then stuck to <a href="https://en.wikipedia.org/wiki/Euphonium">euphonium</a> for about 10 years.
    Along the way I picked up guitar, bass, drums, and singing.
    I occasionally record covers of songs as the mood strikes me.
    One of my favorite projects was Irving Berlin's "White Christmas" which I got partway through covering before my computer died and lost the project file. 
    You can listen to what remains of the song <a href="../../assets/bonus/White Christmas - Lucas Burns.m4a" target="_blank">here (check your volume before clicking!)</a>.
    At the moment, my work-in-progress tune is <a href="https://www.youtube.com/watch?v=ZAn3JdtSrnY" target="_blank">Archie, Marry Me</a> by Alvvays, which has been quite a fun recording challenge.
  </p>
  <p>
    If you would like to get in contact with me, please check out my <a routerLink='../resume'>resume</a> or the contact links below.<span class="blink">█</span>
  </p>
</div>