<div class="fitted">
  <p>
    I'm Lucas Burns, a Full Stack Software Engineer in Portland, Oregon. 
    I graduated from the University of Portland in May 2017 with a B.S. in Computer Science and a minor in Mathematics.
    From November 2017 until February 2020, I worked at EVRAZ North America as a Full Stack Software Developer. 
    There I built Java, C, and Javascript apps used throughout EVRAZ facilities.
    Since then, I've worked full time at the Lithia Motors to create backend services for <a href="https://driveway.com">Driveway.com</a> in Kotlin and Spring.
  </p>
  <p>
    Coding is not just a job to me however, and in my spare time I've been working on a public <a href="https://github.com/BurnsCommaLucas/ready-bot" target="_blank">Discord bot</a>.
    The bot runs ready-checks for players of tabletop RPGs and other online games which require group coordination, and is currently used on 400+ servers.
    I've also been working to port this very website from plain HTML/CSS into Angular, the result of that being the site you are currently viewing.
    In the process, I cleaned up the look and added a color picker to the navbar to give a bit of flair to the site as a whole.
    I no longer host the old version anywhere, but you can check out the source code <a href="https://github.com/BurnsCommaLucas/burnscommalucas.github.io" target="_blank">here</a>.
  </p>
  <p>
    My other main hobby is playing music solo or with friends, and I have finally gotten back to taking guitar lessons after 8 years away!
    I've also recently discovered the fun of classical guitar, which has started to influence my style significantly. 
    At the moment, my work-in-progress tunes are <a href="https://www.youtube.com/watch?v=kHtwF-gpluc" target="_blank">The Entertainer</a> by Chet Atkins, and Cory Wong's portion of <a href="https://www.youtube.com/watch?v=rAi8YcCuVnk" target="_blank">Under the Sea</a> from The Fearless Flyers.
  </p>
  <p>
    If you would like to get in contact with me, please check out my <a routerLink='../resume'>resume</a> or the contact links below.<span class="blink">█</span>
  </p>
</div>