<div class="header header-styled">
    <h1>Get in touch or follow me<span class="blink">:</span></h1>
  </div>
  <!--End Header-->

  <!--Content Container-->
  <div id="contact-icons">
      <!-- Mail bots ruin everything, so no more mailto link :shrug:
      Just go to one of the other links if you really want to get in touch-->
      <a href="https://github.com/burnscommalucas" target="_blank"><fa-icon [icon]='github' size='5x'></fa-icon></a>
      <a href="https://www.linkedin.com/in/burnscommalucas" target="_blank"><fa-icon [icon]='linkedin' size='5x'></fa-icon></a>
      <a href="https://twitch.tv/c_odder" target="_blank"><fa-icon [icon]='twitch' size='5x'></fa-icon></a>
  </div>
  <!--End Content-->