<body>
	<nav class="navbar navbar-expand-md navbar-toggleable-md nav-pills">
		<a class="navbar-brand" routerLink="/">lucas.burns.io</a>
		<button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
			aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
			<fa-icon [icon]="bars"></fa-icon>
		</button>
		<div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
			<div class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" routerLink="/" (click)="isNavbarCollapsed = true">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link" routerLink="/about"
						(click)="isNavbarCollapsed = true">About</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="/resume"
						(click)="isNavbarCollapsed = true">Resume</a>
				</li>
				<li class="nav-item"><a class="nav-link" routerLink="/posts"
						(click)="isNavbarCollapsed = true">Posts</a>
				</li>
				<li class="nav-item">
					<fa-icon class="nav-link" routerLink="/colors" (click)="isNavbarCollapsed = true"
						[icon]="palette"></fa-icon>
				</li>
			</div>
		</div>
	</nav>
	<div class="container main-content">
		<router-outlet></router-outlet>
	</div>
</body>
<footer class="footer" id="contact-icons">
	<!-- Mail bots ruin everything, so no more mailto link :shrug: Just go to one of the other links if you really want to get in touch-->
	<a href="https://github.com/burnscommalucas" target="_blank" name="GitHub">
		<fa-icon [icon]="github" size="2x"></fa-icon>
	</a>
	<a href="https://www.linkedin.com/in/burnscommalucas" target="_blank" name="LinkedIn">
		<fa-icon [icon]="linkedin" size="2x"></fa-icon>
	</a>
	<!-- Maybe some day again, old friend 🫡 -->
	<!-- <a href="https://twitch.tv/c_odder" target="_blank" name="Twitch">
		<fa-icon [icon]="twitch" size="2x"></fa-icon>
	</a> -->
</footer>