:root {
	--primary: #3866af;
	--secondary: #ffebb5;
	--accent: #00000033;
	--glow: #00000000;
}

body {
	font-family: menlo, monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace, consolas;
	background: var(--primary);
	color: var(--secondary);
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	text-shadow: 0 0 10px var(--glow);
}

a:not(.navbar-brand),
a:hover:not(.navbar-brand) {
	color: var(--secondary);
	background: var(--primary);
	text-decoration: none;
}

a:not(.navbar-brand):not(.footer-link),
a:hover:not(.navbar-brand):not(.footer-link) {
	color: var(--secondary);
}

.unclickable {
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}

p>a {
	border-bottom: 1.5px dotted var(--secondary);
	text-decoration: none;
}

footer {
	display: block;
	height: 60px;
	text-align: center;
	margin-top: auto;
}

#contact-icons>a>fa-icon {
	margin: 20px;
}

.invisible {
	display: none;
	opacity: 0;
	height: 0px;
	padding: 0px;
	margin: 0px;
}

/* Terminal Blink animation applied to .blink */
.blink {
	animation: blink-animation 1.25s steps(2, start) infinite;
	-webkit-animation: blink-animation 1.25s steps(2, start) infinite;
	-moz-animation: blink-animation 1.25s steps(2, start) infinite;
	-o-animation: blink-animation 1.25s steps(2, start) infinite;
}

/* Terminal Blink animation applied to .blink */
.highlight,
.highlight>p>a {
	animation: highlight-animation 0.6s steps(2, start) infinite;
	-webkit-animation: highlight-animation 0.6s steps(2, start) infinite;
	-moz-animation: highlight-animation 0.6s steps(2, start) infinite;
	-o-animation: highlight-animation 0.6s steps(2, start) infinite;
}

hr {
	border-top: 1.5px dotted var(--secondary);
}

markdown {
	max-width: inherit;

	th,
	td {
		border: solid 1px;
	}

	table {
		margin-bottom: 2%;
	}

	h1:hover,
	h2:hover,
	h3:hover,
	h4:hover,
	h5:hover,
	h6:hover {
		a {
			border-bottom: 1.5px dotted var(--secondary);
			line-height: 125%;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		a {
			line-height: 125%;
		}
	}

	.postImage>img {
		max-width: 100%;
		max-height: 100%;
		margin-bottom: 1%;
	}

	.footnotes {
		padding: 2em 0;
		border-top: 1.5px dotted var(--secondary);
	}
}

@keyframes highlight-animation {
	0% {
		background-color: var(--primary);
		color: var(--secondary);
	}

	50% {
		background-color: var(--primary);
		color: var(--secondary);
	}

	51% {
		background-color: var(--secondary);
		color: var(--primary);
	}

	100% {
		background-color: var(--secondary);
		color: var(--primary);
	}
}

@-webkit-keyframes highlight-animation {
	0% {
		background-color: var(--primary);
		color: var(--secondary);
	}

	50% {
		background-color: var(--primary);
		color: var(--secondary);
	}

	51% {
		background-color: var(--secondary);
		color: var(--primary);
	}

	100% {
		background-color: var(--secondary);
		color: var(--primary);
	}
}

@-moz-keyframes highlight-animation {
	0% {
		background-color: var(--primary);
		color: var(--secondary);
	}

	50% {
		background-color: var(--primary);
		color: var(--secondary);
	}

	51% {
		background-color: var(--secondary);
		color: var(--primary);
	}

	100% {
		background-color: var(--secondary);
		color: var(--primary);
	}
}

@-o-keyframes highlight-animation {
	0% {
		background-color: var(--primary);
		color: var(--secondary);
	}

	50% {
		background-color: var(--primary);
		color: var(--secondary);
	}

	51% {
		background-color: var(--secondary);
		color: var(--primary);
	}

	100% {
		background-color: var(--secondary);
		color: var(--primary);
	}
}

@keyframes blink-animation {
	0% {
		background-color: var(--primary);
		color: var(--secondary);
		opacity: 100;
	}

	50% {
		background-color: var(--primary);
		color: var(--secondary);
		opacity: 100;
	}

	51% {
		background-color: var(--secondary);
		color: var(--primary);
		opacity: 0;
	}

	100% {
		background-color: var(--secondary);
		color: var(--primary);
		opacity: 0;
	}
}

@-webkit-keyframes blink-animation {
	0% {
		background-color: var(--primary);
		color: var(--secondary);
		opacity: 100;
	}

	50% {
		background-color: var(--primary);
		color: var(--secondary);
		opacity: 100;
	}

	51% {
		background-color: var(--secondary);
		color: var(--primary);
		opacity: 0;
	}

	100% {
		background-color: var(--secondary);
		color: var(--primary);
		opacity: 0;
	}
}

@-moz-keyframes blink-animation {
	0% {
		background-color: var(--primary);
		color: var(--secondary);
		opacity: 100;
	}

	50% {
		background-color: var(--primary);
		color: var(--secondary);
		opacity: 100;
	}

	51% {
		background-color: var(--secondary);
		color: var(--primary);
		opacity: 0;
	}

	100% {
		background-color: var(--secondary);
		color: var(--primary);
		opacity: 0;
	}
}

@-o-keyframes blink-animation {
	0% {
		background-color: var(--primary);
		color: var(--secondary);
		opacity: 100;
	}

	50% {
		background-color: var(--primary);
		color: var(--secondary);
		opacity: 100;
	}

	51% {
		background-color: var(--secondary);
		color: var(--primary);
		opacity: 0;
	}

	100% {
		background-color: var(--secondary);
		color: var(--primary);
		opacity: 0;
	}
}

.debug {
	border: solid red 1px;
}